<div>
	{{burger_name}}

	<button class="change" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}EAT IT AGAIN!{{else}}DEVOUR!{{/if}}
	</button>

	<button class="delete" data-id="{{this.id}}">DELETE!</button>
</div>