<li>
	{{burger_name}}

	<button class="change" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}READY TO BE EATEN!!{{else}}DEVOURED!{{/if}}
	</button>

	<button class="delete" data-id="{{this.id}}">DELETE!</button>
</li>